{% extends 'layout.html' %}


{% block body %}

        <div class="container">
            <h1>Actions</h1>
            <a href="/dashboard"><button class="btn btn-primary">Dashboard</button></a>
            <a href="/logout"><button class="btn btn-primary">Log Out</button></a>
        <hr>
            <h1>
                Add Blog
            </h1>
            <form name="sentMessage" id="contactForm" action = "/add" method="post" novalidate>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Title</label>
                <input type="text" class="form-control" placeholder="Enter Blog Title" id="title" name="title" required data-validation-required-message="Please enter title" >
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Slug</label>
                <input type="text" class="form-control" placeholder="Enter Slug" name="slug" id="slug" required data-validation-required-message="Please enter title slug" >
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
                <label class="form-group col-xs-12 floating-label-form-group controls" ,for="inputtype">
                    Chose Your Topic
                </label>
                <div class="col-sm-10">
                <select class="form-control", id="inputtype", name = "type">
                    <option selected="">
                        Data Structures And Algorithms
                    </option>
                    <option>
                        Web Development
                    </option>
                    <option>
                        Artificial Intelligence
                    </option>
                    <option>
                        Machine Learning
                    </option>
                    <option>
                        App Development
                    </option>
                    <option>
                        Cloud Computing
                    </option>
                </select>
                <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Write</label>
                <textarea rows="5" class="form-control" placeholder="What's in your mind..." name = "content" id="content" required data-validation-required-message="Please enter content">
                </textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Image File</label>
                <input type="text" class="form-control" placeholder="Insert Image here" name = "img_file" id="img_file" required data-validation-required-message="Please upload image">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="sendblog">Edit</button>
            </div>
          </form>
        </div>
       
{% endblock %}