{% extends 'layout.html' %}

{% block body %}
<!--Heading of the Blog-->
{% set fname = 'images/' + blog.img_file %}
<div class="carousel slide" data-bs-ride="carousel" id="staticCarousal">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="data:image/jpeg;base64,{{ img_data }}" alt="{{ blog.img_file }}"></img>
        </div>
    </div>
</div>
<!-- /blog Content -->
<article>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-10 col-md-10 mx-auto">
                <strong>
                    <h2> {{ blog.type }} </h2>
                    <h2> {{ blog.title }} </h2>
                </strong>
                <div class="carousel-caption d-none d-md-block text-dark"></div>
                    <h4> Written by: {{ user_name }}</h3>
                    <h5> Created time: {{ blog.created_date }} </h4>
                </div>
                <hr>
                <p class="fs-4 lh-base">
                    {{ blog.content }}
                </p>
                </hr>
            </div>
        </div>
    </div>
</article>
{% endblock %}