{% extends 'layout.html' %}


{% block body %}
<!--carousal class /top-->
<div class="carousel slide carousel-fade" data-bs-ride="carousel" id="carouselExampleCaptions">
    <ol class="carousel-indicators">
        <li class="active" data-bs-slide-to="0" data-bs-target="#carouselExampleCaptions">
        </li>
        <li data-bs-slide-to="1" data-bs-target="#carouselExampleCaptions">
        </li>
        <li data-bs-slide-to="2" data-bs-target="#carouselExampleCaptions">
        </li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <img alt="..." class="d-block w-100" src="{{url_for('static',filename='images/index1.jpeg')}}">
                <div class="carousel-caption d-none d-md-block text-dark">
                    <h1>
                        Welcome to {{params['blog_name']}}
                    </h1>
                    <h3>
                        Write Read Enjoy..
                    </h3>
                </div>
            </img>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img alt="..." class="d-block w-100" src="{{url_for('static',filename='images/index2.jpeg')}}">
                <div class="carousel-caption d-none d-md-block">
                    <h2>
                        The Best Sites for blogs
                    </h2>
                    <p>
                        A Platform where thinkers like you writes blogs that inspire others
                    </p>
                </div>
            </img>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img alt="..." class="d-block w-100" src="{{url_for('static',filename='images/index3.jpeg')}}">
                <div class="carousel-caption d-none d-md-block">
                    <h2>
                        Award Winning Blogs
                    </h2>
                    <p>
                        So what are you waiting for , Lets Blog...
                    </p>
                </div>
            </img>
        </div>
    </div>
    <a class="carousel-control-prev" data-bs-slide="prev" href="#carouselExampleCaptions" role="button">
        <span aria-hidden="true" class="carousel-control-prev-icon">
        </span>
        <span class="visually-hidden">
            Previous
        </span>
    </a>
    <a class="carousel-control-next" data-bs-slide="next" href="#carouselExampleCaptions" role="button">
        <span aria-hidden="true" class="carousel-control-next-icon">
        </span>
        <span class="visually-hidden">
            Next
        </span>
    </a>
</div>
<div class="container my-4">
    {% for blog in blogs.items %}
	    <div class="row mb-2">
	        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-300 position-relative">
	            <div class="col p-4 d-flex flex-column position-static">
	                <strong class="d-inline-block mb-2 text-primary">
	                    {{ blog.type }}
	                </strong>
	                <h3 class="mb-0">
	                    {{blog.title}}
	                </h3>
	                <div class="mb-1 text-muted">
	                    {{blog.date}}
	                </div>
	                <p class="card-text mb-auto">
	                    {{blog.content[:165]}}
	                    <a class="stretched-link" href="/blog/{{blog.slug}}">
	                        Read More
	                    </a>
	                </p>
	            </div>
	            <div class="col-auto d-none d-lg-block">
	                <img src="data:image/jpeg;base64,{{ blog.img_binary | decode_base64 }}" alt="{{ blog.img_file }}" class="bd-placeholder-img" height="250" width="300">
	                </img>
	            </div>
	        </div>
	    </div>
    {% endfor %}
    <div class="clearfix my-4">
        <a class="btn btn-primary float-left" href="{{prev}}">
            ←
            Previous
        </a>
        <a class="btn btn-primary float-right me-md-2" href="{{next}}">
            Next →
        </a>
    </div>
</div>
{% endblock %}
