<!DOCTYPE doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1" name="viewport">
                <!-- Bootstrap CSS -->
                <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" rel="stylesheet">
                    <title>
                        {{params['blog_name']}}
                    </title>
                </link>
            </meta>
        </meta>
        <style>    
            img {
                max-width: 100%; /* Make sure the image doesn't exceed the container width */
                max-height: 100%; /* Make sure the image doesn't exceed the container height */
                object-fit: cover; /* Resize the image to cover the container */
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    {{params['blog_name']}}
                </a>
                <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon">
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a aria-current="page" class="nav-link active" href="/dashboard">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/add">
                                Write
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="navbarDropdown" role="button">
                                Topics
                            </a>
                            <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        Data Structures And Algorithms
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        Web Development
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        Artificial Intelligence
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        Machine Learning
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        App Development
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">
                                About
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                    <form class="d-flex mb-0">
                        <input aria-label="Search" class="form-control me-2" placeholder="Search Here..." type="search">
                            <button class="btn btn-outline-success" type="submit">
                                Search
                            </button>
                        </input>
                    </form>
                    {% block extra %}
                        {% if 'user' in session %}
                            <div class="mx-2">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item dropdown">
                                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="navbarDropdown" role="button">
                                            Hello {{session['user']}}
                                        </a>
                                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="/logout">
                                                    Log Out
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                        {% else %}
                            <div class="mx-2">
                                <a class="btn btn-outline-warning" href="/login">
                                    Login
                                </a>
                                <a class="btn btn-outline-danger" href="/signup">
                                    Sign Up
                                </a>
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        </nav>
        {% block body %} {% endblock %}
        <footer class="container">
            <p class="float-end">
                <a href="#">
                    Back to top
                </a>
            </p>
            <p>
                © {{params['blog_name']}} Inc. {{params['current_year']}} ·
                <a href="#">
                    Privacy
                </a>
                ·
                <a href="#">
                    Terms
                </a>
            </p>
        </footer>
        <!-- Optional JavaScript; choose one of the two! -->
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script crossorigin="anonymous" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
        </script>
        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
    </body>
</html>



